#page-question-type-combined .mform .textareamonospace {
    white-space: pre;
    font-family: Andale Mono, Monaco, Courier New, DejaVu Sans Mono, monospace;
}

#page-question-type-combined .mform fieldset legend span.not_in_question_text {
    font-weight: bold;
}

#page-question-type-combined .mform div.error span.not_in_question_text_message {
    font-weight: bold;
    color: #000;
}

.que.combined .numpartscorrect,
.que.combined .subqincorrectfeedback {
    margin: 0 0 0.5em;
}

.que.combined .subqspecificfeedback {
    margin: 0 5px;
    background: #fff8eb;
    border: 1px solid #fff8eb;
    padding: 3px;
    display: inline-block;
    width: 98%;
}

.que.combined .qtext .answer div.r0,
.que.combined .qtext .answer div.r1 {
    padding: 0;
    text-indent: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.que.combined .qtext .horizontal {
    display: inline-flex;
}

.que.combined .qtext span.answer span.r0,
.que.combined .qtext span.answer span.r1 {
    display: inline-flex;
    align-items: baseline;
}

.que.combined .qtext span.answer span.r0 label,
.que.combined .qtext span.answer span.r1 label {
    display: inline-flex;
    align-items: baseline;
    margin-left: 5px;
    margin-right: 5px;
    flex: 1 1 auto;
}

.que.combined .qtext .horizontal span.answer span.r0 div.feedback,
.que.combined .qtext .horizontal span.answer span.r1 div.feedback {
    margin: 0;
}

.que.combined .qtext span.answer span.r0 label p,
.que.combined .qtext span.answer span.r1 label p {
    margin: 0;
    flex: 1 1;
}

/* Hack specific style for IE */
body.ie .que.combined .qtext .horizontal span.answer {
    width: 100%;
}

body.ie .que.combined .qtext span.answer span.r0 label p,
body.ie .que.combined .qtext span.answer span.r1 label p {
    flex-basis: auto;
}

body.ie .que.combined .qtext span.answer span.r0.incorrect img.icon,
body.ie .que.combined .qtext span.answer span.r1.incorrect img.icon,
body.ie .que.combined .qtext span.answer span.r0.correct img.icon,
body.ie .que.combined .qtext span.answer span.r1.correct img.icon {
    flex: 1 0 auto;
}

.que.combined .qtext .horizontal span.answer span.r0 div.feedback span.subqspecificfeedback,
.que.combined .qtext .horizontal span.answer span.r1 div.feedback span.subqspecificfeedback {
    width: auto;
}

.que.combined .qtext .horizontal span.answer span.r0 div.feedback span.subqspecificfeedback p,
.que.combined .qtext .horizontal span.answer span.r1 div.feedback span.subqspecificfeedback p {
    margin: 0;
}

/* Hack specific style for Safari. */
body.safari .que.combined .qtext .horizontal span.answer span.r0 input,
body.safari .que.combined .qtext .horizontal span.answer span.r1 input {
    flex: 1 0 auto;
}

.que.combined .qtext .answer div.r0 span.answernumber,
.que.combined .qtext .answer div.r1 span.answernumber {
    float: left;
    margin-right: 2px;
}

.que.combined .qtext .answer label {
    display: inline-block;
    flex: 1 1;
}

.que.combined .qtext .answer div.r0 div.feedback,
.que.combined .qtext .answer div.r1 div.feedback {
    flex: 1 1 100%;
}

body#page-question-type-combined .qtype_combined-sample-placeholder {
    padding: 0 10px;
}
body#page-question-type-combined div[id^=fgroup_id_subqpmatch][id*=susubels] label[for*='allowsubscript'] {
    position: absolute;
    left: -10000px;
    font-weight: normal;
    font-size: 1em;
}

body#page-question-type-combined div[id^=fgroup_id_subqpmatch][id*=casedictels] label[for*='usecase'] {
    position: absolute;
    left: -10000px;
    font-weight: normal;
    font-size: 1em;
}

body#page-question-type-combined div[id^=fgroup_id_subqmultiresponse][id*=answergroup] label[for*='answer'] {
    position: absolute;
    left: -10000px;
    font-weight: normal;
    font-size: 1em;
}
body#page-question-type-combined div[id^=fgroup_id_subqmultiresponse][id*=answergroup] label[for*='correctanswer'] {
    position: static;
    left: 0;
}

body#page-question-type-combined div[id^=fgroup_id_subqnumeric][id*=answergroup] label[for*='answer'] {
    position: absolute;
    left: -10000px;
    font-weight: normal;
    font-size: 1em;
}

body#page-question-type-combined div[id^=fitem_id_subqsinglechoice][id*=answer_],
body#page-question-type-combined div[id^=fitem_id_subqsinglechoice][id*=fraction_],
body#page-question-type-combined div[id^=fitem_id_subqsinglechoice][id*=feedback_] {
    background: #eee;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
}
body#page-question-type-combined div[id^=fitem_id_subqsinglechoice][id*=answer_] {
    border-top: 1px solid #bbb;
    margin-bottom: 0;
    padding-bottom: 10px;
}
body#page-question-type-combined div[id^=fitem_id_subqsinglechoice][id*=fraction_] {
    margin-bottom: 0;
}
body#page-question-type-combined div[id^=fitem_id_subqsinglechoice][id*=feedback_] {
    border-bottom: 1px solid #bbb;
}
