#page-question-type-combined .mform .textareamonospace {
    white-space: pre;
    font-family: Andale Mono, Monaco, Courier New, DejaVu Sans Mono, monospace;
}

#page-question-type-combined .mform fieldset legend span.not_in_question_text {
    font-weight: bold;
}

#page-question-type-combined .mform div.error span.not_in_question_text_message {
    font-weight: bold;
    color: #000;
}

.que.combined .numpartscorrect,
.que.combined .subqincorrectfeedback {
    margin: 0 0 0.5em;
}

.que.combined .subqspecificfeedback {
    margin: 0 5px;
    background: #fff8eb;
    border: 1px solid #fff8eb;
    padding: 3px;
}

body#page-question-type-combined .qtype_combined-sample-placeholder {
    padding: 0 10px;
}
body#page-question-type-combined div[id^=fgroup_id_subqpmatch][id*=susubels] label[for*='allowsubscript'] {
    position: absolute;
    left: -10000px;
    font-weight: normal;
    font-size: 1em;
}

body#page-question-type-combined div[id^=fgroup_id_subqpmatch][id*=casedictels] label[for*='usecase'] {
    position: absolute;
    left: -10000px;
    font-weight: normal;
    font-size: 1em;
}

body#page-question-type-combined div[id^=fgroup_id_subqmultiresponse][id*=answergroup] label[for*='answer'] {
    position: absolute;
    left: -10000px;
    font-weight: normal;
    font-size: 1em;
}
body#page-question-type-combined div[id^=fgroup_id_subqmultiresponse][id*=answergroup] label[for*='correctanswer'] {
    position: static;
    left: 0;
}

body#page-question-type-combined div[id^=fgroup_id_subqnumeric][id*=answergroup] label[for*='answer'] {
    position: absolute;
    left: -10000px;
    font-weight: normal;
    font-size: 1em;
}

body#page-question-type-combined div[id^=fitem_id_subqsinglechoice][id*=answer_],
body#page-question-type-combined div[id^=fitem_id_subqsinglechoice][id*=fraction_],
body#page-question-type-combined div[id^=fitem_id_subqsinglechoice][id*=feedback_] {
    background: #eee;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
}
body#page-question-type-combined div[id^=fitem_id_subqsinglechoice][id*=answer_] {
    border-top: 1px solid #bbb;
    margin-bottom: 0;
    padding-bottom: 10px;
}
body#page-question-type-combined div[id^=fitem_id_subqsinglechoice][id*=fraction_] {
    margin-bottom: 0;
}
body#page-question-type-combined div[id^=fitem_id_subqsinglechoice][id*=feedback_] {
    border-bottom: 1px solid #bbb;
}
